<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!--消息队列：RocketMQ-->
		<!--设置为云消息队列 RocketMQ 版控制台实例详情页的实例用户名。-->
		<add key="ons_access_key" value="xxx" />
		<!--设置为云消息队列 RocketMQ 版控制台实例详情页的实例密码。-->
		<add key="ons_secret_key" value="xxx" />
		<!--您在云消息队列 RocketMQ 版控制台创建的Topic。-->
		<add key="ons_topic" value="XG_CXY_Test" />
		<!--设置为您在云消息队列 RocketMQ 版控制台创建的Group ID。-->
		<add key="ons_groupId" value="XG_CXY_Group_Test" />
		<!--设置为您从云消息队列 RocketMQ 版控制台获取的接入点信息，类似“rmq-cn-XXXX.rmq.aliyuncs.com:8080”-->
		<add key="ons_name_srv" value="xxx-xxx-xxx-xxx.rmq.aliyuncs.com:8080" />
		<!--消费者/生产者目标来源-->
		<add key="ons_client_code" value="XG_CXY_Consumer_Develop" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>